#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.marker-container{
	display: flex !important;
	flex-direction: column;
	align-items:center;	
}

.popup-img {
	width: 20px;
}

.div-icon {
	border: solid 1px yellow;	
}

.div-icon .indicator{
	width: 5px;
	height: 35px;
}

.weather-icon img {	
	height: 28px;	
}

.popup-param {
	display: flex;
}
